.container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 1em;
}
.tile {
    display: block;
    border: 1px solid black;
    border-radius: 0.25em;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    position: relative;
}

.tile > .heading {
    font-size: 1em;
}
.tile > .body {
    font-size: 2em;
}

.index-indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: all linear 0.2s;
    height: 0;
    width: 0;
    border-top: 1.25em solid rebeccapurple;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
}
.index-indicator.terminal {
    border-radius: 100%;
}
.tile:nth-child(3)::after {
    content: "=";
    font-size: 3em;
    position: absolute;
    top: 0.25em;
    right: -0.75em;
}
.tile:nth-child(4) {
    margin-left: 2.125em;
}
